.cardPrice {
  font-weight: 700;
  color: #004aa2;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}

.cardPrice:hover {
  transform: scale(1.05);
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 2rem auto;
}

.profileInner {
  display: flex;
  flex-direction: column;
}

.profileContainer img {
  width: 100px;
  border-radius: 50px;
  margin: 0px 30px;
}

.orderActionContainer {
  display: flex;
  justify-content: space-between;
}

.orderActionButton {
  width: 48%;
  margin: 10px 0px;
}
